modules = ["nodejs-20", "web"]
run = "node ordinals-server.cjs && npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "static"
publicDir = "dist"
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 5
externalPort = 80

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 3000
exposeLocalhost = true
